/*VARIABLES*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
  color: dimgray;
  box-sizing: border-box;
  margin: unset;
  padding: 4rem 2.5rem;
}

.container__component {
  margin-bottom: 2.5rem;
}

/*-------------------------------------MOBILE & TABLET VIEW------------------------------------------*/
.mobileView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-evenly;
  align-items: center;
}

/* BACK TO THE MARKET COMPONENT */
.getBack {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.getBack img {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
.getBack p {
  margin: 0;
}

/* PRODUCT COMPONENT */
.product {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.product .product__textWrapper {
  text-align: center;
}
.product .product__textWrapper small {
  align-self: center;
}
.product .product__textWrapper .product__priceWrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.product .product__textWrapper .product__priceWrapper img {
  width: 2rem;
  height: 2rem;
}
.product .product__textWrapper .product__priceWrapper p {
  margin: 0;
  font-size: 20pt;
  font-weight: bold;
  color: #000;
}
.product figure {
  margin: 0;
  text-align: center;
}
.product figure .product__laptopImg {
  min-width: 10rem;
  width: 35%;
  height: auto;
}

/* BUTTON COMPONENT */
.btn {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
}
.btn .btn__wrapperImg {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/* Classes depending of type of button */
.btn__appleButton {
  background-color: #000;
  color: #FFF;
}

.btn__priceButton {
  background-color: #3C4257;
  border: none;
  color: dimgray;
}

/* PAYFORM COMPONENT */
.payForm {
  width: 400px;
  max-width: 100%;
}

/* Text between horizontal line */
.lineText {
  color: dimgray;
  text-align: center;
  border-bottom: 1px solid #ddd;
  line-height: 0;
  padding: 0;
  margin: 3rem 0 3rem 0;
}
.lineText span {
  background-color: #fff;
  padding: 0;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  /*++++++++++++++++++ Form Validation+++++++++++++++++++ */
  /*  Icons styles*/
}
.form .form--boxShadow {
  box-shadow: 0px 3px 5px 0px rgba(181, 181, 181, 0.75);
}
.form input, .form select {
  line-height: 2;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  display: block;
  padding: 0.2rem;
}
.form .form__inputWrapper--selectBg {
  background-color: #fff;
  width: 100%;
  height: 2rem;
}
.form .form__inputWrapper {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding-bottom: 20px;
  position: relative;
}
.form .form__inputWrapper label {
  margin-bottom: 0.6rem;
  color: dimgray;
  font-weight: 600;
}
.form .form__inputWrapper .inputGroup__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form .form__inputWrapper .inputGroup__down {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form .form__inputWrapper .inputGroup__down input {
  width: 95%;
}
.form .form__inputWrapper .visaPos, .form .form__inputWrapper .masterPos, .form .form__inputWrapper .amexPos, .form .form__inputWrapper .discPos {
  position: absolute;
  top: 30px;
}
.form .form__inputWrapper .visaPos {
  right: 120px;
}
.form .form__inputWrapper .masterPos {
  right: 90px;
}
.form .form__inputWrapper .amexPos {
  right: 60px;
}
.form .form__inputWrapper .discPos {
  right: 30px;
}
.form .form__inputWrapper .cvcPos {
  position: absolute;
  top: 70px;
  right: 30px;
}
.form .errorIcon, .form .okIcon {
  /* Email, card number and name icons*/
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}
.form .errorIconD, .form .okIconD {
  /* Date icons */
  visibility: hidden;
  position: absolute;
  top: 70px;
  right: 175px;
}
.form .errorIconC, .form .okIconC {
  /* CVC icons */
  visibility: hidden;
  position: absolute;
  top: 70px;
  right: 10px;
}
.form .errorMessage {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
.form .input--success input {
  border-color: #2ecc71;
}
.form .input--success .okIcon {
  color: #2ecc71;
  visibility: visible;
}
.form .input--success .errorMessage {
  visibility: visible;
}
.form .input--successD {
  /* In case date is valid */
}
.form .input--successD input {
  border-color: #2ecc71;
}
.form .input--successD .okIconD {
  color: #2ecc71;
  visibility: visible;
}
.form .input--successD .errorMessage {
  visibility: visible;
}
.form .input--successC {
  /* In case CVC is valid */
}
.form .input--successC input {
  border-color: #2ecc71;
}
.form .input--successC .okIconC {
  color: #2ecc71;
  visibility: visible;
}
.form .input--successC .errorMessage {
  visibility: visible;
}
.form .input--error input {
  border-color: #e74c3c;
}
.form .input--error .errorIcon {
  color: #e74c3c;
  visibility: visible;
}
.form .input--error .errorMessage {
  visibility: visible;
}
.form .input--errorD {
  /* In case date is invalid */
}
.form .input--errorD input {
  border-color: #e74c3c;
}
.form .input--errorD .errorIconD {
  color: #e74c3c;
  visibility: visible;
}
.form .input--errorD .errorMessage {
  visibility: visible;
}
.form .input--errorC {
  /* In case CVC is invalid */
}
.form .input--errorC input {
  border-color: #e74c3c;
}
.form .input--errorC .errorIconC {
  color: #e74c3c;
  visibility: visible;
}
.form .input--errorC .errorMessage {
  visibility: visible;
}
.form .inputGroup__errorMsgPos {
  position: absolute;
  display: flex;
  flex-direction: column;
}

/* FOOTER */
.footer .footer__redsysWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.footer .footer__redsysWrapper img {
  width: 4.5rem;
  height: 2rem;
}
.footer .footer__linksWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.footer .footer__linksWrapper a:link, .footer .footer__linksWrapper a:visited {
  color: dimgray;
  text-decoration: none;
}
.footer .footer__linksWrapper .footer__linksWrapper--terms {
  margin-right: 1rem;
}
.footer .footer__linksWrapper .footer__linksWrapper--priv {
  margin-left: 1rem;
}

/*---------------------------------------------DESKTOP VIEW--------------------------------------------*/
.desktopView {
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 5px 13px 0px rgba(50, 50, 50, 0.39);
  align-items: center;
}

.desktopView__col {
  border: none;
  flex: 1;
}

.desktopView__col--right {
  box-shadow: -5px 0px 13px 0px rgba(50, 50, 50, 0.39);
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.getBack--desktop {
  margin-left: 5rem;
}

/* PRODUCT */
.product--desktop {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.product--desktop .product__textWrapper--desktop {
  text-align: left;
  margin-right: 13.5rem;
}
.product--desktop .product__textWrapper--desktop small {
  padding-left: 0.5rem;
}
.product--desktop .product__textWrapper--desktop .product__priceWrapper--desktop {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.product--desktop .product__textWrapper--desktop .product__priceWrapper--desktop .product__img--dollar {
  width: 2rem;
  height: 2rem;
}
.product--desktop .product__textWrapper--desktop .product__priceWrapper--desktop p {
  margin: 0;
  font-size: 20pt;
  font-weight: bold;
  color: #000;
}
.product--desktop figure {
  margin: 0;
  text-align: center;
  width: 50%;
}
.product--desktop figure .product__laptopImg--desktop {
  min-width: 10rem;
  width: 100%;
  height: auto;
}

/* FOOTER */
.footer--desktop {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
