/*VARIABLES*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
  color: dimgray;
  box-sizing: border-box;
  margin: unset;
  padding: 4rem 2.5rem;
}

.footer .footer__redsysWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.footer .footer__redsysWrapper img {
  width: 4.5rem;
  height: 2rem;
}
.footer .footer__linksWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.footer .footer__linksWrapper a {
  text-decoration: none;
}
.footer .footer__linksWrapper .footer__linksWrapper--terms {
  margin-right: 1rem;
}
.footer .footer__linksWrapper .footer__linksWrapper--priv {
  margin-left: 1rem;
}

/*BACK TO THE MARKET COMPONENT */
.getBack {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.getBack img {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
.getBack p {
  margin: 0;
}

/* PRODUCT COMPONENT */
.product {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.product .product__textWrapper {
  text-align: center;
}
.product .product__textWrapper small {
  align-self: center;
}
.product .product__textWrapper .product__priceWrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.product .product__textWrapper .product__priceWrapper img {
  width: 2rem;
  height: 2rem;
}
.product .product__textWrapper .product__priceWrapper p {
  margin: 0;
  font-size: 20pt;
  font-weight: bold;
  color: #000;
}
.product figure {
  margin: 0;
}
.product figure .product__laptop {
  width: 10rem;
  height: 10rem;
}

/* BUTTON COMPONENT */
.btn {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
}
.btn .btn__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/* Classes depending of type of button */
.appleButton {
  background-color: #000;
  color: #FFF;
}

.priceButton {
  background-color: #3C4257;
  border: none;
  color: dimgray;
}
