body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
  color: dimgray;
  box-sizing: border-box;
  margin: unset;
  padding: 4rem 2.5rem;
}

.footer .footer__redsysWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.footer .footer__redsysWrapper img {
  width: 4.5rem;
  height: 2rem;
}
.footer .footer__linksWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.footer .footer__linksWrapper a {
  text-decoration: none;
}
.footer .footer__linksWrapper .footer__linksWrapper--terms {
  margin-right: 1rem;
}
.footer .footer__linksWrapper .footer__linksWrapper--priv {
  margin-left: 1rem;
}

/*BACK TO THE MARKET COMPONENT */
.getBack {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.getBack img {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
.getBack p {
  margin: 0;
}
