/*VARIABLES*/

$fontColor: dimgray;
$priceBtnColor: #3C4257;
$appleBtnColor: #000;

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    color: $fontColor;
    box-sizing: border-box;
    margin: unset;
    padding: 4rem 2.5rem;

}

.footer{
   
    .footer__redsysWrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;        

        img {
            width: 4.5rem;
            height: 2rem;
        }
    }

    .footer__linksWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;

        a{
            text-decoration: none;           
        }

        .footer__linksWrapper--terms{
            margin-right: 1rem;
        }
        .footer__linksWrapper--priv{
            margin-left: 1rem;
        }
    }
}
    
 /*BACK TO THE MARKET COMPONENT */
 
 .getBack {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    
    img {
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
    }

    p {
        margin: 0;
    }
 }

 /* PRODUCT COMPONENT */

 .product {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .product__textWrapper {
        text-align: center;

        small {
            align-self: center;
        }       

        .product__priceWrapper {
            margin-top: 1rem;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            
            img{
                width: 2rem;
                height: 2rem;
            }

            p {
                margin: 0;            
                font-size: 20pt;
                font-weight: bold;
                color: #000
            }

        }
    }

    figure {
        margin: 0;

        .product__laptop {
            width: 10rem;
            height: 10rem;
        }
    }
   
 }

 /* BUTTON COMPONENT */

 .btn {   
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2;
    transition: all 200ms linear;
    border-radius: 4px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    border: none;
    cursor: pointer;

    .btn__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
     }
 } 

 /* Classes depending of type of button */

 .appleButton {
    background-color: $appleBtnColor;
    color: #FFF;
 }

 .priceButton {
    background-color: $priceBtnColor;
    border: none;
    color: $fontColor;
 }